/********************************************************************

Project: Formee - http://www.formee.org
Last Updated: 19/04/2010
Version: 1.1
Authors: Bernard De Luna - http://www.bernarddeluna.com
             Daniel Araujo - http://www.dnlaraujo.com.br
			 Marcello Manso - http://www.marcellomanso.com.br

********************************************************************
Style
********************************************************************/



/* Form Style */
.form {font: normal 12px/1em arial, Verdana, "Trebuchet MS", Helvetica, sans-serif;}

.form fieldset {
	/*border: 1px solid #e8c3d0;*/
	/*border-top:3px solid #000;*/
	border-bottom: 1px solid #ccc;
	background:#d1eef1;
	padding-bottom: 1.2em;
	margin: 0 0 2em 0;
}

/* hover effect */
/*
.grid-1-12:hover, .grid-2-12:hover, .grid-3-12:hover, .grid-4-12:hover, .grid-5-12:hover, .grid-6-12:hover, .grid-7-12:hover, .grid-8-12:hover, .grid-9-12:hover, .grid-10-12:hover, .grid-11-12:hover, .grid-12-12:hover {background:#d6b4d7;}
.field-button:hover {background:transparent;}
*/


/* Form legend and titles */
.form legend {
	font-size:1.7em;
	padding: 10px 10px 15px;
	margin-bottom: 10px;
	background:#000;
	margin-left:1.04%;
	color:#7c4b7d;
}

/* form elements  */
.form-lbl {
	font-size:1em;
	color: #7c4b7d;
}
.form-req {
	font-weight: bold;
	font-style:normal;
	color:#d10000;
	font-size:1.4em;
}
.form .form-txt, .form textarea, .form select {
	border-color:#235485;
	background: #fff;
	color:#333;
	font: normal 12px/1em arial, Verdana, "Trebuchet MS", Helvetica, sans-serif;
}
.form .form-txt:hover, .form textarea:hover, .form select:hover {
	border-color:#235485;
	background: #fafafa;
	color:#333;
}
.form .form-txt:focus, .form textarea:focus, .form select:focus {
	border-color:#103b66;
	background: #f4fcff;
	color:#235485;
}

/* form buttons */
.form-button {
	font-size:1.6em;
	background:#f15d5e;
	color:#fff;
}
.form-button:hover {
	background:#f15d5e;
}


